header {
  margin: 0;
  padding: 0;


  width: 100%;
  height: 20rem;

  background-color: rgba(1,12,30,255);
  background-image: url("/home/sakis/Desktop/React/online-store-app/src/assets");
  background-size: 100%;
  background-repeat:no-repeat;
}
