header {
  width: 100%;
}

header form {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  top: 80%;
}

header input {
  width: 25rem;
  height: 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: 1px solid #e8e8e8;
}

header button {
  background-color: white;
  height: 2rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #e8e8e8;
  padding: 3px;
  cursor: pointer;
}

header input:focus {
  outline: none;
}
header input::placeholder {
  color: rgb(129, 129, 129);
}