  /* GLOBAL */
html {
  font-size: 16px;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8e8e8;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;

  display: flex; /* in order to stick footer to bottom*/
  flex-direction: column;
}

.container {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  scroll-behavior: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */

header {
  background-color: black;
  color: #e8e8e8;
  position: sticky;
  top: 0;
}

header .container{
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.branding h1 {
  font-size: 3rem;
}

.user-menu li {
  list-style: none;
  display: inline-block;
  margin: auto 0.5rem;
}

.user-menu a{
  font-size: 1.5rem;
  color: #e8e8e8;
}

.user-menu span {
  display: inline-block;
  font-size: 1rem;
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  padding-top: 2px;
}

header form input {
  width: 25rem;
  height: 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: 1px solid #e8e8e8;
}

header form button {
  background-color: #e8e8e8;
  height: 2rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #e8e8e8;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
}

header form input:focus {
  outline: none;
}

header form input::placeholder {
  color: rgb(129, 129, 129);
}

/* PRODUCT CARD */

.product-card {
  background-color: white;
  border-radius: 0.5rem;
  width: 12rem;
  height: 20rem;
  margin: 0 0.75rem 0.75rem 0;
  padding: 0.5rem;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.image-container {
  width:100%;
  height: 50%;
}

.image-container img {
  width:100%;
  height: 100%;
  object-fit: contain; 
}

.product-card p {
  font-size: 0.75rem;
  color: rgb(77, 77, 77);
}

.title-container {
  height: 10%;
  overflow: hidden;
}

.product-card h3 {
  text-align: end;
}

.product-card:hover {
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.199);
}
  
/* SHELF */

#shelf {
  margin-top: 2rem;
  overflow-x: scroll;
}

#shelf h2 {
  font-size: 1rem;
}

.shelf-products {
  display: flex;
}

/* FOOTER */

footer {
  background-color: black;
  color: #e8e8e8;
  margin-top: auto;
}

footer .container{
  margin-top: 1rem;
  min-height: 12rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-box {
  width: 25%;
  height: 100%;
  padding: 1rem 0 0 1rem;
}

.content-box h3 {
  font-weight: bold;
}

.content-box li{
  list-style: none;
  margin-top: 1rem;
}

.social-media li{
  display: inline-block;
  margin-right: 1rem;
  font-size: 2rem;
}

/*PRODUCT DESCRIPTION*/

#product-description .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30rem;
  align-items: center;
}

#product-description .image-wrapper{
  width: 30rem;
  height: 20rem;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}

#product-description .right-split {
  width: 50rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#product-description .right-split button {
  border: none;
  padding: 0.5rem;
  font-size: 1.25rem;
  width: 8rem;
  background-color: black;
  color: #e8e8e8;
  cursor: pointer;
}

#product-description .right-split button:active {
  background-color: #e8e8e8;
  color: black;
  border: 1px solid black;
}

/* CART */

#cart {
  display: flex;
}

#cart-items {
  width: 70%;
  margin-right: 1rem;
}

#checkout {
  width: 20%;
  height: fit-content;
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
}


#checkout #total{
  float: left;
  margin-bottom: 0.5rem;
}

#checkout #total-value {
  float: right;
  margin-bottom: 0.5rem;
  padding: 0;
}

#checkout button{
  display: block;
  width: 100%;
  border: none;
  font-weight:bold;
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

#checkout button:hover {
  background-color:rgb(92, 84, 84);
}

#checkout-btn{
  background-color: black;
  color: white;
}

/* CART ITEM */

.cart-item {
  width: 100%;
  height: 7.5rem;
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

#cart-items h1 {
  display: block;
  text-align: center;
}

.cart-item .image-container {
  width: 15rem;
  height: 100%;
  float: left;
  margin-right: 1rem;
}

.cart-item  h2,p {
  display: block;
  padding-top: 1rem;
}

.cart-item button {
  float: right;
  margin-right: 0.5rem;
  padding: 0.5rem;
  background-color: black;
  color: white;
  font-weight: 800;
  border: none;
  cursor: pointer;
}