  /* GLOBAL */
:root {
  --form-height: 1.5rem;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  gap: 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
  padding: 0.5rem;
}

.color{
  background-color: rgb(45,45,45);
  color: white;
}

/* HEADER */

header {
  position: sticky;
  top: 0;
}

header div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

header h1 {
  font-size: 3rem;
}

header ul {
  align-self: flex-end;
}

header li {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.25rem;
}

header form {
  width: 70%;
  display: flex;
}

header input{
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  height: var(--form-height);
  font-size: 1rem;
}

header button {
  border: none;
  border-bottom: 2px solid white;
  height: var(--form-height);
  padding-right: 0.5rem;
  cursor: pointer;
}

header span {
  display: inline-block;
  font-size: 1rem;
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  padding-top: 2px;
}

@media (min-width: 504px) {
  header div{
    flex-direction: row;
    justify-content: space-between;
  }

  header h1{
    font-size: 2rem;
  }

  header form {
    width: 50%;
  }

  header ul {
    order: 3;
  }
}


/* PRODUCT CARD */

.product-card {
  border: 2px solid rgb(192, 189, 189);
  border-radius: 0.5rem;
  height: 20rem;
  padding: 0.5rem;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.product-card .image-container {
  width:100%;
  height: 50%;
}

.product-card img {
  width:100%;
  height: 100%;
  object-fit: contain; 
}

.product-card p {
  font-size: 0.75rem;
  color: rgb(77, 77, 77);
}

.title-container {
  height: 10%;
  overflow: hidden;
}

.product-card h5 {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card h3 {
  text-align: end;
}

.product-card:hover {
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.199);
}
  
/* SHELF */

.shelf-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

/* FOOTER */

footer {
  margin-top: auto;
}

footer > div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-box li{
  padding-top: 0.5rem;
}

.social-media {
  align-self: center;
}

.social-media ul{
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}

@media (min-width: 425px) {
  footer > div{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
    
  .content-box {
    flex: 1;
  }
}

/*PRODUCT DESCRIPTION*/

#productDescription {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: auto;
}

#image-wrapper {
  width: 19rem;
}

#productDescription img {
  max-width: 100%;
  height: auto;
}

#productInfo {
  max-width: 35rem;
}

#productDescription h1,h2,h4 {
  font-size: medium;
}

#productDescription button {
  width: 10rem;
  height: 3rem;
  margin-top: 1rem;
  padding: 0;
  font-size: 1.75rem;
  cursor: pointer;
}

@media (min-width: 896px) {
  #productDescription {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
  
}

/* CART */

#checkout {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 20rem;
  padding: 1rem 0;
}

#checkout button {
  padding: 1rem;
  font-weight: bolder;
  background-color: white;
  border: none;
  cursor: pointer;
}

#cart h1 {
  text-align: center;
  display: block;
  width: 20rem;
  margin: 5rem auto;
}

/* CART ITEM */

#cart-item {
  border: 2px solid rgb(192, 189, 189);
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#cart-item > * {
  flex: 1 0 0;
  text-align: center;
}

#cart-item .image-container {
  width:10rem;
  height: 10rem;
}

#cart-item img {
  width:100%;
  height: 100%;
  object-fit: contain; 
}

#cart-item button {
  padding: 0.5rem;
  font-weight: 800;
  border: none;
  cursor: pointer;
}

@media (max-width: 504px) {
  #cart-item {
    flex-direction: column;
    gap: 0.5rem;
  }
}